.navLinks {
    font-size: 16px;
}
  
.navLink {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
  
.navLink:hover {
    color: #e50914;
}

.active {
    color: #e50914;
}