.movieCard {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}
  
.movieCard:hover {
    transform: translateY(-4px);
}
  
.movieCard img {
    z-index: 2;
    width: 200px;
    height: 300px;
}

.movieInfo {
    padding: 16px;
}

.movieInfo h2 {
    margin: 0;
    font-size: 1.25rem;
}
  
.movieInfo p {
    margin: 8px 0;
    color: #888;
}